* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  color: #222;
  text-align: center;
}

p {
  font-size: 25px;
  color: #444;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
  font: center;
}
